
<div *ngIf="campagne">
    <h2><span jhiTranslate="qualiToastApp.campagne.detail.title">Campagne</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <dl class="col-md-6">
            <dt><div *ngIf="campagne.application"><span jhiTranslate="qualiToastApp.campagne.application">Application : </span>&nbsp;:&nbsp;&nbsp;
                <span>
                    <a [routerLink]="['/application', campagne.application?.id]">{{campagne.application?.nom}}</a>
                </span>
            </div>
            </dt>
            <dd>
                <span jhiTranslate="qualiToastApp.campagne.version">Version :</span>&nbsp;:&nbsp;&nbsp;
                <b>
                    <span>{{campagne.version}}</span>
                </b>
            </dd>
            <dd>
                <span jhiTranslate="qualiToastApp.campagne.typetest">Type de test : </span>&nbsp;:&nbsp;&nbsp;
                <b>
                    <span><a [routerLink]="['/type-test', campagne.typetest?.id]">{{campagne.typetest?.code}}</a></span>
                </b>
            </dd>
            <dd>
                <span jhiTranslate="qualiToastApp.campagne.datedebut">Début : </span>&nbsp;:&nbsp;&nbsp;
                <b>
                    <span>{{campagne.datedebut | date:'dd/MM/yyyy'}}</span>
                </b>
            </dd>
            <dd>
                <span jhiTranslate="qualiToastApp.campagne.datefin">Fin : </span>&nbsp;:&nbsp;&nbsp;
                <b>
                    <span>{{campagne.datefin | date:'dd/MM/yyyy'}}</span>
                </b>
            </dd>
            <dd>
                <span jhiTranslate="qualiToastApp.campagne.commentaire">Commentaire</span>&nbsp;:&nbsp;&nbsp;
                <b><span>{{campagne.commentaire}}</span></b>
            </dd>
        </dl>
        <dl class="row-md-6">
            <dd>
                <div *ngIf="campagne.resultat">
                    <span jhiTranslate="qualiToastApp.campagne.resultat">Resultat</span>&nbsp;:&nbsp;&nbsp;
                    <b>
                        <span><a [routerLink]="['/resultat', campagne.resultat?.id]">{{campagne.resultat?.code}}</a></span>
                    </b>
                </div>
            </dd>
            <dd class="text-danger">
                <span jhiTranslate="qualiToastApp.campagne.bloquant">Bloquant</span>&nbsp;:&nbsp;&nbsp;
                <b>
                    <span>{{campagne.bloquant}}</span>
                </b>
            </dd>
            <dd class="text-warning">
                <span jhiTranslate="qualiToastApp.campagne.majeur">Majeur</span>&nbsp;:&nbsp;&nbsp;
                <b>
                    <span>{{campagne.majeur}}</span>
                </b>
            </dd>
            <dd class="text-info">
                <span jhiTranslate="qualiToastApp.campagne.mineur">Mineur</span>&nbsp;:&nbsp;&nbsp;
                <b><span>{{campagne.mineur}}</span></b>
            </dd>
            <dd class="text-primary">
                <span jhiTranslate="qualiToastApp.campagne.evolution">Evolution</span>&nbsp;:&nbsp;&nbsp;
                <b>
                    <span>{{campagne.evolution}}</span>
                </b>
            </dd>
            <dd>
                <span jhiTranslate="qualiToastApp.campagne.termine">Terminé</span>&nbsp;:&nbsp;&nbsp;
                <b>
                    <span *ngIf="campagne.termine">OUI</span>
                    <span *ngIf="!campagne.termine">En cours</span>
                </b>
            </dd>
            <dd>
                <span jhiTranslate="qualiToastApp.campagne.testeur">Testeur</span>&nbsp;:&nbsp;&nbsp;
                <span *ngFor="let testeur of campagne.testeurs; let last = last">
                    <a [routerLink]="['/testeur', testeur?.id ]">{{testeur.nom}}&nbsp;{{testeur.prenom}}</a>{{last ? '' : ', '}}
                </span>
            </dd>
        </dl>
    </div>
    <button type="submit"    (click)="previousState()"    class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'campagne/'+ campagne.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
